@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.body-container {
	font-family: 'Open Sans',serif;
	margin-top: 3em;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	margin-left: 25%;
}

.card {
	height: 10em;
	width: 10em;
	border: 3px solid #000;
}

/*.hidden {
	display: none;
}

.visible {
	display: block;
}*/

.x {
	background-image: url("../images/X.png");
	background-repeat: no-repeat;
	background-size: 10em 10em;
	
}
.o {
	background-image: url("../images/O.png");
	background-repeat: no-repeat;
	background-size: 10em 10em;
}

