.body-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: #b4e7a2
}

.container {
	display: flex;
	flex-flow: row nowrap;

}

h1 {
	font-family: 'Trocchi', serif;
	font-size: 3em;
	margin-top: .5em;
	padding-bottom: 0;
}

h3 {
	font-family: 'Quicksand', sans-serif;
}

aside {
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	margin-bottom: .5em;
	padding-top: 0;
	margin-top: -1.5em;
	color: #3f3f3f;
}

.card {
	height: 8em;
	width: 8em;
	border: 3px solid #000;
}

.button-container {
	display: flex;
	flex-direction: column;
}

button {
	height: 3em;
	width: 7em;
	margin-top: .5em;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	border-radius: 32px;
	background-color: #5a834d;
	font-size: 3em;
	font-weight: bold;
	color: #fff;
}


.hidden {
	display: none;
}

.x {
	background-image: url("../images/X.png");
	background-repeat: no-repeat;
	background-size: 8em 8em;
	
}
.o {
	background-image: url("../images/O.png");
	background-repeat: no-repeat;
	background-size: 8em 8em;
}